:root {
    /* Cores Gerais */
    --background-card-info: #323b43c6;
    --shadow-card: #1a1ace33;
    --text-color-detalhes: #1f4fb7;
    --border-h3: #e3d6d6;
    --hover-list-bg: #0b51e775;
  
    /* Tipos de Pokémon */
    --tipo-eletrico: #d2aa28;
    --tipo-fogo: #f15000d2;
    --tipo-agua: #015C98;
    --tipo-fada: #C29791;
  
    /* Cores de Listagem */
    --list-bg: #6b727a;
    --list-text-color: #dbcccc;
  
    /* Outros */
    --hover-transform-scale: 1.05;

    /* Scrollbar */
    --scrollbar-width: 15px;
    --scrollbar-thumb-color: #5252b5;
    --scrollbar-track-color: #d5be25;
    --scrollbar-thumb-border: 3px solid #ebe2d2;
    --scrollbar-thumb-border-radius: 20px;
    
  }
  